@model IEnumerable<BakeMyWorld.Website.Data.Entities.Category>

@{
    ViewData["Title"] = "Explore Categories";
}

<h1>Explore Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-route="categorydetails" asp-route-urlSlug="@item.UrlSlug">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
